
/* .Jumbotron{
width: 70%;
    margin-left:200px;
    height: 500px;
    margin-top:200px;
    object-fit: cover;
    border-bottom: solid;
    border-color: #e17055;
    display:flex;
    direction: reversecolumn;
    
} */

.jumbotron{
    padding: 0px;
   
}