.userAvatar {
  margin-top: 20px;
  margin-left: 80px;
  border-style: solid;
  border-radius: 100%;
  border-color: black;
}

.chart {
  display: flex;
  justify-content: center;
}

aside {
  margin: 0px;
  background-color: whitesmoke;
}
