.sliderimg{
    width: 100%;
    /* margin-left:400px; */
    height: 400px;
    margin-top:20px;
    object-fit: cover;
    border-bottom: solid;
    border-bottom: #e17055;
    border-radius: 30px ;
  }