body{
    height:100%;
    width:100%;
}

.container{
     
     height:400px; 
     width:300px;
    background-color: #e17055;
}

.form-group{
    padding-left:10px;
}

form{
    padding-top:15px;
}

.container {
    display:flex;
    direction:column;
}