@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


.header{
    width:100%;
    cursor:pointer;
    display:flex;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    font-size: 6vw;  
    color:#e17055;
    z-index: 100;
    }
    
    
    @media(max-width:1100px){
        .header{
            padding-top:15px;
            font-size:6.4vw;
        }
    }