
 .nav-item{ 
    /* padding-top: 30px; */
    
  justify-content:right;
    
}

 .Navbar{
      background-color: #353b48;  
      /* top: 0;
      left:0; */
      /* position:fixed; */

} 
.nav-left{
  list-style: none;
}